{% assign without-image = nil %}
<!-- begin article -->
<div class="article" data-aos="fade-down" style="min-height:80vh;">
  <div class="container">
    <div class="article__wrapper">
        <div class="article__content_left {{ without-image }}"
             data-aos="zoom-out-down"
             data-aos-easing="linear"
             data-aos-duration="1500"
        >
          <h2 class="article__title">{{post.title}}</h2>
          <p class="article__excerpt">명품부터 차까지 - 갖고 싶던 인생템, Pokke가 드립니다</p>
          <h4 style="margin-top: 30px;">Coming Soon!</h4>
          <div class="subscribe">
            <form class="subscribe-form validate" action="https://formspree.io/f/mknpodwo" method="POST" id="subscribe-form" novalidate="novalidate">
              <div class="subscribe-group">
                <div id="successSubscribe"></div>
                <input class="subscribe__email required email" type="text" id="subscribe-mail" name="email" placeholder="Enter your email..." style="width: 70%;">
                <input class="subscribe__button" type="submit" id="sendSubscribeMessageButton" name="subscribe" value="런칭 알림 받기">
              </div>
            </form>
          </div>
        </div>

        {% if post.image %}
          <div class="article__image" style="background-image:url({{site.baseurl}}/images/background1.svg); max-height: 600px;">
            <img src="/images/page1.png"/>
          </div>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

    </div>
  </div>
</div>
<!-- end article -->